<div class="orders">
  <h3>Objednávky</h3>

  <p class="text-right">
    <a class="btn btn-success" routerLink="/create">Vytvořit</a>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Zákazník</th>
        <th>Email</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="status-{{order.status}}">
        <td> {{order.id}}</td>
        <td>{{order.name}}</td>
        <td>
          {{order.email}}
        </td>
        <td class="text-right">
          <a [routerLink]="['/detail', order.id]" class="btn btn-info">Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
