<h1>Objednávka - {{order.name}}</h1>
<span class="lead">{{order.email}}</span>
<h2>Adresa</h2>
<p class="lead">
  {{order.name}}, {{order.address.street}}<br />
  {{order.address.zip}} {{order.address.city}}
</p>
<app-info></app-info>

<a class="back" routerLink="/orders">Zpět na seznam</a>

